<!doctype html>
{% load rest_framework %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Users</title>
    </head>
    <body>
        {% if not read_only %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in property_serial %}
                    {% if field.name != 'seller' and field.name != 'id' %}
                        {% render_field field style=style %}
                    {% endif %}
                {% endfor %}
                <input name="image" type="file" multiple><br>
                <input type="submit" value="Submit">
            </form>
        {% else %}
            {% for obj in prop_objs %}
                {% for key, value in obj.items %}
                    {% if key != 'images' %}
                        <p>{{key}}: {{value}}</p>
                    {% else %}
                        {% for img in obj.images %}
                            <img src="{{img.image.url}}" height='42' width='42'>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                {% if is_buyer %}
                    <form action='/inquiry/api/' method='GET'>
                        <input type="submit" value="Enquire">
                        <input type='hidden' name='prop_id' value='{{obj.id}}'>
                    </form>
                {% endif %}
                {% if is_owner %}
                    <form action='/property/api/' method='GET'>
                        <input type="submit" value='Update Property'>
                        <input type="hidden" name='id' value='{{obj.id}}'>
                    </form>
                    <h3>INQUIRIES:</h3>
                    {% for inquiry in inquiries %}
                        <p>From: {{inquiry.buyer}}</p>
                        <p>Comment: {{inquiry.comment}}</p>
                        <p>Sent On {{inquiry.sent_date}}</p>
                    {% endfor %}
                {% endif %}
                
            {% endfor %}
        {% endif %}

    </body>
</html>