<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Users</title>
    </head>
    <body>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="LOGIN">
        {% if next %}
            <input type="hidden" name="next" value={{ next }} />
        {% else %}
            <input type="hidden" name="next" value='/user/info/' />
        {% endif %}
        </form>
        <form action="/user/" method="GET">
            <input type="submit" value="SIGN UP">
        </form>
        <h1>{{users}}</h1>
    </body>
</html>